<div class="container bg-white rounded mt-5 pb-4 shadow-sm">
  <h2>Hola <%= resource_name.to_s.humanize %> edita tus datos:</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
       <%= f.input :address,
                    label:"Cambia tu dirección:", 
                    required: false, 
                    autofocus: true,
                    input_html: { id: "address-input" }
                    %>
      <%= f.input :password,
                  label:"Ingresar una nueva contraseña:",
                  hint: "No modifiques nada si no queres cambiarla",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label:"Repeti tu nueva contraseña:",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  label:"Ingresa tu clave anterior:",
                  hint: "La necesitamos para verificar que seas vos",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>

