<%= render 'shared/banner_index' %>
<%#= render 'shared/banner' %>
<div class="bg-white">

  <div class="d-flex justify-content-center container-fluid mb-5 ">
    <div class="icon-categories bt-1 d-flex justify-content-around ">
      <% Product.category_options_for_select.each do |category| %>
        <%= link_to shops_path(category: category), class:"category-item" do %>
          <%= cl_image_tag( category , crop: :fill, class:"rounded") %>
          <p id="p-icons"><%= category.capitalize %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <%# SI EL USER ESTA CONECTADO LE MUESTRO CERCA TUYO!!  %>
  <% if user_signed_in? %>
    <div class="wrapper_index">
      <h2 class="text-center pb-4">Platos mas cercanos</h2>
      <div class="cards_index dragscroll">
        <% @products.each do |product| %>
            <div class="card_product_index">
              <div class="card-img-top position-relative">
                <% if product.photo.attached? %>
                  <%= cl_image_tag product.photo.key, height:300, width:300, crop: :fill %>
                <% else %>
                  <%= cl_image_tag("mojito_baggco", height:300, width:300, crop: :fill) %>
                <% end %>
              </div>
              <div class="p-3">
                <h4 class="m-0 text-center"><%= product.name %> </h4>
              </div>
               <p class=" m-0 d-flex justify-content-center mb-1"> <i class="fas fa-map-marker" id="icono_localizacion"></i> <%=product.shop.distance_from(current_user) %></p>
              <div class="text-center">
                <% if current_user.active_cart.nil? %>
                    <%= link_to "Agregar al Carrito", product_cart_items_path(product), method: :POST, class:"carro btn btn-outline-primary btn-block btn-sm"%>
                <% else %>
                  <% if current_user.active_cart.shop == @shop %>
                    <% if cart_item = current_user.active_cart.cart_items.find { |item| item.product == product } %>
                      <%= link_to "Agregar otro", increase_cart_item_path(cart_item), method: :PATCH, class:"carro btn btn-outline-primary btn-block btn-sm"%>
                    <% else %>
                      <%= link_to "Agregar al Carrito", product_cart_items_path(product), method: :POST, class:"carro btn btn-outline-primary btn-block btn-sm"%>
                    <% end %>
                  <% else %>
                    <%= link_to "Agregar al Carrito", product_cart_items_path(product), method: :POST, data: { confirm: 'Tu carrito tiene productos de otro shop, si deseas continuar seran removidos!' }, class:" carro btn btn-outline-primary btn-block btn-sm"%>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <%# Locales cercanos !!  %>
    <div class="wrapper_index">
      <h2 class="text-center pb-4">Locales cercanos</h2>
      <div class="cards_index dragscroll">
        <% @cercanos.each do |shop| %>
          <%= link_to shop_path(shop) do %>
            <div class="card-index-shop">
                <% if shop.photo.attached? %>
                  <%= cl_image_tag shop.photo.key, height:300, width:300, crop: :fill %>
                <% else %>
                  <%= cl_image_tag("mojito_baggco", height:300, width:300, crop: :fill) %>
                <% end %>
              <div class="card-shop-infos position-relative">

                <h4 class="text-center"><%= shop.name %> </h4>
                  <div class="rating-shop">
                    <% if shop.rating.nil? %>
                      <% 5.times do %>
                        <i class="far fa-star"></i>
                      <% end %>
                    <% else %>
                      <% shop.rating.times do  %>
                        <i class="fas fa-star"></i>
                      <% end %>
                      <% (5 - shop.rating).times do %>
                        <i class="far fa-star"></i>
                      <% end %>
                    <% end %>
                  </div>
                  <p class=" m-0 d-flex justify-content-center"> <i class="fas fa-map-marker" id="icono_localizacion"></i> <%=shop.distance_from(current_user) %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>


    <%# DESTACADOS !! ( SE MUESTRA SIEMPRE) %>
    <div class="wrapper_index">
      <h2 class="text-center pb-4">Destacados</h2>
      <div class="cards_index dragscroll">
        <% @destacados.each do |shop| %>
          <%= link_to shop_path(shop) do %>
            <div class="card-index-shop">
                <% if shop.photo.attached? %>
                  <%= cl_image_tag shop.photo.key, height:300, width:300, crop: :fill %>
                <% else %>
                  <%= cl_image_tag("mojito_baggco", height:300, width:300, crop: :fill) %>
                <% end %>
              <div class="card-shop-infos text-align-right">
                <div>
                <h4><%= shop.name %> </h4>
                  <div class="rating-shop ">
                      <% if shop.rating.nil? %>
                        <% 5.times do %>
                          <i class="far fa-star"></i>
                        <% end %>
                      <% else %>
                        <% shop.rating.times do  %>
                          <i class="fas fa-star"></i>
                        <% end %>
                        <% (5 - shop.rating).times do %>
                          <i class="far fa-star"></i>
                        <% end %>
                      <% end %>
                  </div>
                  <p class=" m-0 d-flex justify-content-center"> <i class="fas fa-map-marker" id="icono_localizacion"></i> <%=shop.address.first(25) %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

</div>
