<%= render 'shared/banner' %>
<div class="bg-white">
    <div class="wrapper_index">
      <h1 class="text-center pb-3">Cerca tuyo</h1>
      <div class="cards_index dragscroll">
        <% @shops.each do |shop| %>
          <%= link_to shop_path(shop) do %>
            <div class="card_product_index">
              <div class="card-img-top position-relative">
                <div class="heart">
                  <i class="fas fa-heart"></i>
                </div>
                <%= cl_image_tag("mojito_baggco", height:300, width:300, crop: :fill) %>
              </div>
              <div class="p-3">
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <h4><%= shop.name %> </h4>
                <p class="small m-0"><%=shop.address %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="wrapper_index">
      <h1 class="text-center pb-3">Destacados</h1>
      <div class="cards_index dragscroll">
        <% @shops.each do |shop| %>
          <%= link_to shop_path(shop) do %>
            <div class="card_product_index">
              <div class="card-img-top position-relative">
                <div class="heart">
                  <i class="fas fa-heart"></i>
                </div>
                <%= cl_image_tag("mojito_baggco", height:300, width:300, crop: :fill) %>
              </div>
              <div class="p-3">
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <h4><%= shop.name %> </h4>
                <p class="small m-0"><%=shop.address %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="wrapper_index">
      <h1 class="text-center pb-3">Tus favoritos</h1>
      <div class="cards_index dragscroll">
        <% @shops.each do |shop| %>
          <%= link_to shop_path(shop) do %>
            <div class="card_product_index">
              <div class="card-img-top position-relative">
                <div class="heart">
                  <i class="fas fa-heart"></i>
                </div>
                <%= cl_image_tag("mojito_baggco", height:300, width:300, crop: :fill) %>
              </div>
              <div class="p-3">
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <h4><%= shop.name %> </h4>
                <p class="small m-0"><%=shop.address %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
