<div class=".container bg-white rounded mt-5 pb-4 shadow-sm" id="new-product">
  <h3 class="d-flex justify-content-center py-3">Nuevo Local</h3>
  <%= simple_form_for @shop do |f| %>
  <%= f.input :name, label:"Nombre:", required: false %>
  <%= f.input :address, label:"Direccion:", required: false %>
  <%= f.input :email, label:"Email:", required: false %>
  <%= f.input :phone_number, label:"Telefono:", required: false %>
  <%= f.input :photo, as: :file, label:"Agregá una imagen:", required: false %>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <%= f.button :submit, "Agregar", class: "btn btn-primary " %>
  <% end %>
</div>
