<% if @shop.photo.attached? %>
  <div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=cl_image_path @shop.photo.key %>)">
    <div class="container">
      <h1 class="text-center"><%= @shop.name %></h1>
      <p class="text-center"><%= @shop.address %></p>
    </div>
  </div>
<% else %>
  <div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=cl_image_path "nodisponible" %>)">
    <div class="container">
      <h1 class="text-center"><%= @shop.name %></h1>
      <p class="text-center"><%= @shop.address %></p>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="cards">
    <% @products.each do |product| %>
      <%= link_to shop_product_path(@shop.id, product.id), class:"card_product" do %>
        <div>
          <div class="card-img-top position-relative">
            <%= cl_image_tag product.photo.key, height:300, width:300, crop: :fill %>
            <div class="price">
              <p class="m-0"> $ <%= product.previous_price %></p>
              <div class="offer">
                <h6>$<%= product.unit_price %></h6>
              </div>
            </div>
          </div>
          <div class="p-3">
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4 class="pt-2"><%= product.name %></h4>
          </div>
          <%= link_to "Agregar al Carrito", product_cart_items_path(product), method: :POST, class:"btn btn-lg btn-primary rounded"%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<% if current_user.id == @shop.user_id || current_user.role == "admin" %>
  <br>
  <%= link_to "Agregar producto", new_shop_product_path(@shop.id)  %>
  <br>
  <%= link_to "Editar Local", edit_shop_path(@shop.id)  %>
  <br>
  <%= link_to "Eliminar Local", shop_path(@shop.id), method: :delete  %>
<% end %>



<% if @shop.photo.attached? %>
    <div  
      class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0. 3)), url(<%=cl_image_path @shop.photo.key %>)"> 
    </div>
  <% else %>
    <div 
      class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://thumbs.dreamstime.com/b/limpie-el-garage-19656222.jpg)"> 
    </div>
<% end %>

