  <div class="navbar navbar-expand-sm <%=local_assigns[:home] ? "navbar-dark bg-transparent position-absolute w-100 " : "navbar-light" %> navbar-lewagon">
  <%# Titulo (logo) %>
  
  <%= link_to "/shops", class: "nav-link loguito" do %>
    <% if local_assigns[:home] %>
      <%= cl_image_tag("logo_bikvoh") %>
    <% else %>
      <%= cl_image_tag("logonegro_rkg2il") %>
    <% end %>
  <% end %>
  
  <div class="carritocel">
    <% if user_signed_in? %>
      <% if !current_user.carts.empty? && !current_user.active_cart.nil?  %>
        <%= link_to cart_path(current_user.carts.last), class: "nav-link mr-2" do %>
          <span class="carrito">
            <i class="fas fa-shopping-cart"></i>
            <% if !current_user.active_cart.nil? && current_user.active_cart.has_items? %>
              <span class="number"> <%= current_user.active_cart.number_of_items %> </span>
            <% end %>
          </span>
        <% end %>
      <% else %>
        <i class="fas fa-shopping-cart mt-2 mr-4"></i>
      <% end %>
    <% end %>
  </div>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <%# CUANDO EL USUARIO ESTA LOGEADO  %>
    <% if user_signed_in? %>
        <li class="nav-item active mr-2">
            <% if !current_user.carts.empty? && !current_user.active_cart.nil?  %>
              <%= link_to cart_path(current_user.carts.last), class: "nav-link mr-2" do %>
                <span class="carrito">
                  <i class="fas fa-shopping-cart"></i>
                  <% if !current_user.active_cart.nil? && current_user.active_cart.has_items? %>
                    <span class="number"> <%= current_user.active_cart.number_of_items %> </span>
                  <% end %>
                </span>
              <% end %>
            <% else %>
              <i class="fas fa-shopping-cart mt-2 mr-4"></i>
            <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to "Inicio", "/shops", class: "nav-link mr-2" %>
        </li>
        

        <%# Si el user logeado es OWNER MOSTRA ESTO %>
        <% if current_user.role == "owner"  %>
        <li class="nav-item active">
           <%= link_to "Mi Local", dashboard_path , class: "nav-link" %>
         </li>
           <%= link_to "Agregar Productos", new_product_path, class: "nav-link" %>
         <li class="nav-item active">
         </li>
        <% end %>

        <%# DROPDOWN %>
        <li class="nav-item dropdown">
          <% if current_user.photo.present? %>
            <%= cl_image_tag(current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <% else %>
            <%= cl_image_tag("avatar", :radius=>"max", :width=>100, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%# Si el user logeado es OWNER MOSTRA ESTO %>
            <% if current_user.role == "owner"  %>
              <%= link_to "Agregar Productos", new_product_path, class: "dropdown-item" %>
              <%= link_to "Mi Local",dashboard_path, class: "dropdown-item" %>
              <%= link_to "Resumen de ventas", summary_path, class:"dropdown-item" %>

            <% end %>
            <%# ESTO LO VEN TODOS LOS users %>
             <%= link_to "Editar mis datos", edit_user_registration_path(current_user), class: "dropdown-item" %>
            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

      <% else %> <%# CUANDO EL USUARIO NO ESTA LOGEADO  %>
        <li class="nav-item">
          <i class="fas fa-search nav-link mt-1"></i>
        </li>
        <li class="nav-item">
          <%= link_to "Nosotros", new_user_session_path, class: "nav-link letrablanca mr-2 ml-2" %>
        </li>

        <li class="nav-item">
          <%= link_to "Ayuda", new_user_session_path, class: "nav-link letrablanca mr-2 ml-2" %>
        </li>

        <li class="nav-item">
          <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link letrablanca mr-2 ml-2" %>
        </li>
        <li class="nav-item">
        <% if local_assigns[:home] %>
          <%= link_to "Quiero registrarme",  new_user_registration_path, class: "btn btn-outline-light botonarriba mr-2 ml-2" %>
        <% else %>
          <%= link_to "Quiero registrarme",  new_user_registration_path, class: "btn btn-outline-dark botonarriba mr-2 ml-2" %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
