<%= render 'shared/banner' %>

<div class="container-fluid bg-white separte ">
  <h1 class="text-center pt-5">¡Sé parte del cambio!</h1>
  <div class="row d-flex justify-content-center bg-white width-100 ">
    <div class="exp-card col-6 col-md-4 d-flex justify-content-center bg- rounded">
      <div>
        <div class="d-flex justify-content-center">
          <%= cl_image_tag("basura", crop: :fill, class:"mt-4 thumbnail") %>
        </div>
        <div class="p-2 text-center d-flex justify-content-center">
          <small>En la Argentina se desechan 16 millones<br>de toneladas de alimentos por año.</small>
        </div>
      </div>
    </div>
    <div class="exp-card col-6 col-md-4 d-flex justify-content-center bg-white rounded">
      <div>
        <div class="d-flex justify-content-center">
          <%= cl_image_tag("plantasmano",  crop: :fill, class:"mt-4 thumbnail") %>
        </div>
        <div class="p-2 text-center d-flex justify-content-center">
          <small>Decidimos aportar nuestro granito de<br>arena en para combatir el desperdicio de alimento.</small>
        </div>
      </div>
    </div>
    <div class="exp-card col-6 col-md-4 d-flex justify-content-center bg-white rounded">
      <div>
        <div class="d-flex justify-content-center">
          <%= cl_image_tag("tercera", crop: :fill, class:"mt-4 thumbnail") %>
        </div>
        <div class="p-2 text-center d-flex justify-content-center">
          <small> Unite a nosotros, disfrutá de nuestros descuentos<br>y salvemos al planeta juntos.</small>
        </div>
      </div>
    </div>
  </div>
</div>

<%# LOGROS PLATONICOS %>
<div class="container-fluid row align-items-center" >
  <div class="col-sm-12 col-md-6">
    <div class="content-box rounded platonicos">
      <h2 class="text-center text-dark mt-4">LOGROS PLATÓNICOS </h2>
      <div class="container text-dark">
        <div class="row text-center d-flex justify-content-center">
          <div class="border-right col-6 col-md-4 ">
            <div class="stat-items">
              <i class="fas fa-utensils"></i>
              <h2><span class="counter text-center text-primary "><%=" #{@cart_items.count}"%> + </span> </h2>
              <h4><strong>Platones Salvados</strong></h4>
            </div>
          </div>
          <div class="col-6 col-md-4 ">
            <div class="stat-items">
              <i class="far fa-money-bill-alt"></i>
              <% @cart_items.each do |item| %>
                <% @total+=item.subtotal_price %>
              <% end %>
              <h2><span class="counter text-center text-primary"> $<%= @total/2 %> </span></h2>
              <h4><strong> Ahorrados </strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%# FOTO DE LA MINA CON LAS COMPRASSSSSSSS %>
  <div class="col-sm-12 col-md-6">
    <div class="d-flex justify-content-center"> 
      <%= cl_image_tag("compras", height:500, width:300, class:"waste") %>
    </div>
  </div>
</div>

<%# COMO PEDIR !!!!!!!!!!! %>
<div class="container-fluid p-4 containerverde">
  <div class="container pb-4  ">
    <h1 class=" titulo_div_verde text-center pb-4 text-white">¿Cómo pedir?</h1>
    <div class="row d-flex justify-content-center">
      <div class="exp-card col-6 col-md-4 d-flex justify-content-center">
        <div>
          <div class="d-flex justify-content-center">
            <%= cl_image_tag("buscarlocal1", crop: :fill, class:"thumbnail") %>
          </div>
          <div>
            <h4 class="titulo_div_verde mt-4 text-center text-white">1.Ubicá</h4>
            <p class="text-white">Encontrá tus comercios cercanos</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 d-flex justify-content-center exp-card">
        <div>
          <div class="d-flex justify-content-center">
            <%= cl_image_tag("carritoooo" , crop: :fill, class:"thumbnail") %>
          </div>
          <div>
            <h4 class=" titulo_div_verde mt-4 text-center text-white">2.Elegí</h4>
            <p class="text-white">Seleccioná tus platos favoritos</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 d-flex justify-content-center exp-card">
      <div>
          <div class="d-flex justify-content-center">
            <%= cl_image_tag("shopp",  crop: :fill, class:"thumbnail") %>
          </div>
          <div>
            <h4 class=" titulo_div_verde mt-4 text-center text-white">3.Retirá</h4>
            <p class="text-white" >Disfrutá de la mejor comida al mejor precio</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  

<%# DESTACADOS %>
<div class="destacados p-2 ">
  <div class="container p-4">
  <h1 class="text-center pb-4 text-white">Restaurants destacados</h1>
    <div class="cards d-flex justify-content-center">
      <% @destacados.each do |shop| %>
      <%= link_to shop_path(shop), class:"card_product" do %>
        <div class="card-img-top position-relative">
          <div class="heart">
            <i class="fas fa-heart"></i>
          </div>
          <% if shop.photo.attached? %>
              <%= cl_image_tag shop.photo.key, height:300, width:300, crop: :fill %>
          <% else %>
            <%= cl_image_tag("mojito_baggco", height:300, width:300, crop: :fill) %>
          <% end %>
        </div>
        <div class="p-3">
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <h4><%= shop.name %></h4>
          <p class="small m-0"><%= shop.address %></p>
        </div>
      <% end %>
      <% end %>
    </div>
    <div class="text-center p-4">
      <%= link_to "Ver más", shops_path,  class:"btn btn-lg btn-primary rounded"%>
    </div>
  </div>
  </div>
</div>