<%= render 'shared/banner' %>

<div class="container p-4">
<h1 class="text-center">¿Cómo pedir?</h1>
  <div class="row d-flex justify-content-center">
    <div class="exp-card col-6 col-md-4 d-flex justify-content-center">
      <div>
        <div class="d-flex justify-content-center">
          <%= cl_image_tag("mapa", height:100, width:100, crop: :fill, class:"mt-4") %>
        </div>
        <div>
          <h4 class="mt-4 text-center">1.Ubicá</h4>
          <small> Ubicá tus comercios cercanos</small>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 d-flex justify-content-center exp-card">
      <div>
        <div class="d-flex justify-content-center">
          <%= cl_image_tag("elegi", height:100, width:100, crop: :fill, class:"mt-4") %>
        </div>
        <div>
          <h4 class="mt-4 text-center">2.Elegí</h4>
          <small>Elegí tus platos favoritos</small>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 d-flex justify-content-center exp-card">
     <div>
        <div class="d-flex justify-content-center">
          <%= cl_image_tag("shop", height:100, width:100, crop: :fill, class:"mt-4") %>
        </div>
        <div>
          <h4 class="mt-4 text-center">3.Retirá</h4>
          <small>Disfrutá de la mejor comida al mejor precio</small>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="bg-white">
  <div class="container p-4">
  <h1 class="text-center">Restaurants destacados</h1>
    <div class="cards d-flex justify-content-center">
      <% @shops.each do |shop| %>
      <%= link_to shop_path(shop), class:"card_product" do %>

        <div class="card-img-top position-relative">
          <div class="heart">
            <i class="fas fa-heart"></i>
          </div>
          <% if shop.photo.attached? %>
              <%= cl_image_tag shop.photo.key, height:300, width:300, crop: :fill %>
          <% else %>
            <%= cl_image_tag("mojito_baggco", height:300, width:300, crop: :fill) %>
          <% end %>
        </div>
        <div class="p-3">
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <h4><%= shop.name %></h4>
          <p class="small m-0"><%= shop.address %></p>
        </div>
      <% end %>
      <% end %>

    </div>
    <div class="text-center p-4">
      <%= link_to "Ver más", shops_path,  class:"btn btn-lg btn-primary rounded"%>
    </div>
  </div>
  </div>
</div>

<div class="container p-4">
<h1 class="text-center">Nuestra Misión</h1>
<p class="text-center">En la Argentina se desechan 16 millones de toneladas de alimentos por año, equivalente al 12.5% de todos los alimentos que se producen en el país.El planeta nos pide a gritos que comencemos a cuidarlo y sabemos que todos estamos tomando conciencia de ésto. Nosotros decidimos aportar nuestro granito de arena en la lucha contra el desperdicio de alimento. Podes unirte a nuestra lucha y disfrutar de nuestros super descuentos </p>
</div>







