<div id="generic_price_table" class="bg-white" >   
<section>
        <div class="container">  
            <div class="row">
                <div class="col-md-12">
                    <div class="generic_content clearfix">
                        <div class="generic_head_price clearfix">
                            <div class="generic_head_content clearfix">
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Tu pedido </span>
                                </div>
                            </div>
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="sign">Precio total : </span>
                                    <span class="sign">$ </span>
                                    <span class="currency"> <%= @cart.total  %></span>
                                    <br>
                                    <span class="cent">Tus productos:</span>
                                </span>
                            </div>
                        </div>                            
                        <div class="generic_feature_list">
                          <% @cart.cart_items.each do |item| %>
                            <ul>
                                <li>
                                  <span class="grandecito"><%= item.quantity%></span>
                                  <span class="grandecito"><%=item.product.name%></span>
                                  <span class="grandecito" >$ <%= item.quantity*item.subtotal_price %> </span>
                                  <span class="ml-4">
                                    <%= link_to cart_item_path(item), method: :delete, data:{confirm:"Quiere eliminarlo?"} do %>
                                    <p class="far fa-trash-alt"></p> <% end %>
                                  </span>
                                </li>
                              </ul>
                            <%end  %>
                        </div>
                        <div class="generic_price_btn clearfix">
                        	 <div class="text-center m-4 bg-red">
                              <% if @cart.cart_items.count > 1 %>
                                <p id="separador"> Estas salvando: 
                                <strong> <%= @cart.cart_items.count %> platones</strong>
                                </p>
                              <% else %>
                                <p> Estas salvando: 
                                <strong> <%= @cart.cart_items.count %> platón</strong>
                                </p>
                              <% end %>
                              <p> Y ahorrando: <strong>$ <%= (@cart.total/2) %></strong>
                              </p>
                            </div>
                            <div class="text-center">
                              <%= simple_form_for @cart do |f| %>
                                <%= f.button :submit, "Realizar compra", class:"fas fa-shopping-cart btn btn-lg btn-primary rounded p-3" %>
                              <% end %>
                            </div>
                        </div>     
                    </div>   
                </div>
            </div>	
        </div>
</section>             
</div>