<h1>Products#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p>

<%= simple_form_for [@product] do |f| %>
<%= f.input :name, label:"Nombre:", required: false %>
<%= f.input :description, label:"Descripcion:", required: false %>	 
<%= f.input :unit_price, label:"Precio unitario:", required: false %>
<%= f.button :submit, label:"Agregar", class: "btn btn-outline-dark" %>
<%= f.input :photo, as: :file, label:"Agregá una imagen:", required: false %>
<% end %>